/* Demos */

.container {
  max-width: 760px;
  margin: 0 auto;
  padding: 2rem;
}

.container.dark {
  color: #fff;
}

h1,
p {
  background-color: rgba(255,255,255,0.7);
  padding: 1rem;
  margin: -1rem 0 2rem -1rem;
}

/* Glow/shadow effects */

.shadow {
  filter: drop-shadow( 0 0.1rem 0.6rem rgba(0,0,0,0.5) );
}

.box-shadow {
  box-shadow: 0px 3px 4px rgba(0,0,0,0.3);
}

/* Vertical centering */

.vertical-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.grid-center {
  display: grid;
  place-items: center;
}

/* Disable text/element selection */
.nocopy {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
}

/* Disable Safari mobile tap highlight */

input,
textarea,
button,
select,
label,
a {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

/* Some global resets */

.reset * {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-touch-callout: none;
  box-sizing: border-box;
  -moz-font-feature-settings: "liga" 0; /* Ligature fix for Firefox */
}

/* Full background canvas */

.fullscreen-bg {
  width: 100vw;
  height: 100vh;
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -9999;
}

/* Fade anim */

.fade-anim {
  transition: visibility 0s linear 0.5s, opacity 0.5s linear;
  opacity: 0;
  visibility: hidden;
}

.fade-anim.show {
  transition: visibility 0s linear, opacity 0.5s linear;
  opacity: 1;
  visibility: visible;
}

/* Portrait lock */

@media (orientation: landscape) {
  body.mobile.portrait-lock {
    transform-origin: 0% 0%;
    transform: rotate(90deg);
    position: absolute;
    left: 100%;
    width: 100vh;
    height: 100vw;
  }
}

/* Multiline text overflow ellipsis */

.multiline-ellipsis {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

